.form_container {
  @apply p-8 rounded-2xl bg-white shadow;
}

.title {
  @apply text-gray-800 text-center text-2xl font-bold;
}

.form {
  @apply space-y-4;
}

.input_container {
  @apply relative flex items-center;
}

.input_label {
  @apply text-gray-800 text-sm mb-2 block
}

.input {
  @apply w-full text-gray-800 text-sm border border-gray-300 px-4 py-3 rounded-md outline-blue-600;
}

.controllers {
  @apply flex flex-wrap items-center justify-between gap-4 mb-2;
}

.checkbox_container {
  @apply flex items-center;
}

.checkbox {
  @apply h-4 w-4 shrink-0 text-blue-600 focus:ring-blue-500 border-gray-300 rounded;
}

.checkbox_label {
  @apply ml-3 block text-sm text-gray-800;
}

.forgot_pass_link {
  @apply text-primaryLight hover:underline font-semibold;
}

.btn_container {
  @apply mt-8;
}

.link {
  @apply text-primary hover:underline ml-1 whitespace-nowrap font-semibold;
}